/*global*/
* {
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

/*start header*/
.header {
  background-image: url(img/pic01.jpg), url(img/dark_tint.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  font-size: 17px;
  /*bar*/
  /*banner*/ }
  .header .bar {
    padding: 24px 48px;
    width: 100%;
    /*toggler*/ }
    .header .bar .navbar-brand {
      color: #fff;
      font-weight: 700; }
      .header .bar .navbar-brand:hover {
        text-transform: none; }
    .header .bar .toggler {
      float: right;
      padding: 0;
      display: none;
      /*toggler list*/ }
      @media screen and (max-width: 560px) {
        .header .bar .toggler {
          display: inline;
          float: right; } }
      .header .bar .toggler button {
        background-color: transparent;
        border: none; }
        .header .bar .toggler button i {
          font-size: 32px;
          color: #fff; }
          .header .bar .toggler button i:hover {
            font-size: 30px;
            color: rgba(255, 255, 255, 0.5); }
      .header .bar .toggler .toggler-list {
        transform: translateX(0);
        position: absolute;
        right: 0;
        float: right;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: auto;
        height: auto;
        padding: 5px 10px;
        font-size: 30px;
        display: block;
        margin: 5px 10px;
        display: none; }
        .header .bar .toggler .toggler-list a:hover {
          color: rgba(0, 0, 0, 0.9);
          background-color: rgba(255, 255, 255, 0.9); }
        .header .bar .toggler .toggler-list button {
          color: rgba(255, 255, 255, 0.8); }
          .header .bar .toggler .toggler-list button:hover {
            color: rgba(0, 0, 0, 0.8);
            background-color: rgba(255, 255, 255, 0.8); }
    .header .bar .nav-list {
      position: relative;
      float: right;
      display: inline; }
      .header .bar .nav-list .nav a {
        color: rgba(255, 255, 255, 0.5); }
      .header .bar .nav-list .nav button {
        color: #444;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 40px; }
    @media screen and (max-width: 560px) {
      .header .bar .nav-list {
        display: none; } }
  .header .banner {
    text-align: center;
    padding: 100px 0 210px 0; }
    .header .banner h1 {
      font-size: 58px;
      font-weight: 750;
      line-height: 28px;
      color: #fff; }
      @media screen and (max-width: 560px) {
        .header .banner h1 {
          font-size: 50px; } }
      @media screen and (max-width: 414px) {
        .header .banner h1 {
          font-size: 35px; } }
    .header .banner p {
      font-size: 24px;
      font-weight: 100;
      line-height: 40px;
      margin-bottom: 32px;
      color: #fff; }

/*end header*/
/*start info*/
.info {
  background-color: #f5f5f5;
  text-align: center;
  padding: 88px 0; }
  .info .container {
    padding: 0; }
    .info .container .brief h1 {
      margin: 0;
      font-size: 44px;
      font-weight: bolder; }
    .info .container .brief p {
      font-size: 23px;
      font-weight: 100;
      color: #858585;
      padding: 8px 0; }
    .info .container .icon-group .icon {
      max-width: 30%;
      background-color: #ffffff;
      border: 1px solid rgba(144, 144, 144, 0.25);
      padding: 28px 6px;
      margin-bottom: 40px; }
      .info .container .icon-group .icon:not(:last-of-type) {
        margin-right: 56px; }
      @media screen and (max-width: 1199px) {
        .info .container .icon-group .icon {
          max-width: 33%; }
          .info .container .icon-group .icon:not(:last-of-type) {
            margin-right: 3px; } }
      @media screen and (max-width: 767px) {
        .info .container .icon-group .icon {
          max-width: 100%; }
          .info .container .icon-group .icon:not(:last-of-type) {
            margin-right: 0; } }
      .info .container .icon-group .icon i {
        border: 1px solid;
        border-radius: 50%;
        padding: 40px 36px;
        font-size: 31px;
        color: #fff; }
      .info .container .icon-group .icon h5 {
        font-weight: bolder;
        font-size: 20px;
        color: #858585;
        padding: 20px 0 15px 0; }
      .info .container .icon-group .icon p {
        color: #858585;
        font-size: 14px; }
    .info .container .icon-group .cloud i {
      background-color: #3cadd4; }
    .info .container .icon-group .cpu i {
      background-color: #add43c; }
    .info .container .icon-group .rocket i {
      background-color: #d43c61; }

/*end info*/
/*start text*/
.text {
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  padding: 50px 0;
  text-align: center; }
  .text h1 {
    font-size: 50px;
    line-height: 24px; }
  .text p {
    color: #858585;
    font-size: 20px; }

/*end text*/
/*start clients*/
.clients-section .clients {
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  text-align: left;
  padding: 50px 0; }
  .clients-section .clients .client {
    padding: 20px 2px;
    max-width: 100%; }
    .clients-section .clients .client img {
      border: 1px solid transparent;
      border-radius: 50%;
      position: relative;
      float: left;
      margin-right: 5%; }
      @media screen and (max-width: 1199px) {
        .clients-section .clients .client img {
          margin-right: 5%; } }
      @media screen and (max-width: 991px) {
        .clients-section .clients .client img {
          margin-right: 19%; } }
      @media screen and (max-width: 767px) {
        .clients-section .clients .client img {
          margin-right: 5%; } }
    .clients-section .clients .client h3 {
      font-size: 16px;
      font-weight: bolder;
      padding-top: 6%; }
    .clients-section .clients .client p {
      font-size: 16px;
      font-size: 200; }

/*end clients*/
/*start jon us*/
.join-us {
  text-align: center;
  padding: 80px 0; }
  .join-us p {
    font-size: 16px;
    position: relative;
    left: 10%;
    max-width: 79%; }

/*end join us*/
/*start contact us*/
.contact {
  text-align: center;
  background-color: #3cadd4; }
  .contact .text h2 {
    font-size: 42px;
    font-weight: bolder;
    color: #fff; }
  .contact .text p {
    color: #fff;
    font-weight: 100;
    font-size: 22px; }
  .contact form .form-row .field {
    padding-bottom: 20px; }
  .contact .send {
    background-color: #444751;
    margin-bottom: 50px; }

/*end contact us*/
/*start footer*/
footer {
  padding: 80px 0 50px 0;
  background-color: #383b43; }
  footer .list-group-item {
    background-color: #383b43;
    list-style: none;
    border: none;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25); }
    footer .list-group-item h5 {
      color: #fff;
      font-weight: bold;
      margin-bottom: 24px; }
    footer .list-group-item .links-list {
      list-style: none; }
      footer .list-group-item .links-list li a {
        color: #cdced0;
        font-size: 14px;
        line-height: 40px; }
  footer .end {
    padding: 50px 0; }
    footer .end .copy-right li {
      color: #858585;
      font-size: 14px;
      list-style: none;
      padding: 0;
      margin-right: 10px; }
      footer .end .copy-right li a {
        color: #858585; }
    footer .end .social .fb, footer .end .social .twit, footer .end .social .google, footer .end .social .in {
      font-size: 18px;
      padding: 8px 13px;
      list-style: none;
      text-align: right;
      border: 1px solid transparent;
      border-radius: 50%;
      margin-left: 15px; }
      footer .end .social .fb i, footer .end .social .twit i, footer .end .social .google i, footer .end .social .in i {
        color: #ffffff; }
    footer .end .social .fb {
      background-color: #39599f;
      padding: 8px 18px; }
    footer .end .social .twit {
      background-color: #2daae4; }
    footer .end .social .google {
      background-color: #C91E1E; }
    footer .end .social .in {
      background-color: #31516a; }

/*end footer*/
.main-button {
  background-color: #3cadd4;
  color: #fff;
  border: 1px solid #3cadd4;
  border-radius: 40px;
  line-height: 21px;
  font-size: 21px;
  padding: 16px 32px; }

/*# sourceMappingURL=main.css.map */
